main {
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;
    background: var(--bg-main);
}

.title-text {
    text-align: center;
}

.download {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    padding: 2rem;
    margin-inline: 2rem;
    background: var(--bg-content);
    box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.figures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2rem;
}

figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;

    height: 35rem;
}

figure > * {
    grid-area: 1/1;
    transition: 0.4s;
}

figure > figcaption {
    z-index: 99;
    font-size: 5rem;
    transform: translateX(-1000px);
    text-align: center;

    background: rgba(0, 0, 0, 0.4);
    padding-top: 5rem;
}

figure > img {
    min-height: 100%;
    width: 20rem;

    object-fit: cover;
}

figure:hover figcaption {
    transform: translateX(0);
}

figure:hover img {
    transform: scale(1.1);
    filter: blur(5px);
}

.versions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 2rem;

    max-width: 1024px;
}

.medium-text {
    text-align: center;
}

@media (max-width: 768px) {
    .download {
        margin-inline: 0;
        padding: 1rem;
    }

    .versions {
        flex-wrap: wrap;
    }

    figure {
        height: 100%;
    }

    figure > img {
        max-width: 20rem;
        width: 100%;
    }

    figure > figcaption {
        transform: translateX(0px);
    }

    figure:hover img {
        transform: scale(1);
        filter: blur(0);
    }

    .title-text {
        margin-top: 2rem;
    }
}
