main {
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 90vh;
    background: var(--bg-main);
}

.title-text {
    text-align: center;
}

.download {
    width: 100%;
    display: grid;
    place-items: center;
}

.download__title {
    margin-top: 2rem;
}

.figures {
    display: flex;
    gap: 2rem;

    max-height: 90vh;
}

figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
}

figure > * {
    grid-area: 1/1;
    transition: .4s;
}

figure > figcaption {
    z-index: 99;
        transform: translateX(-100px);
    font-size: 3rem;
}

figure > img {
    height: 100%;
    width: 25vw;
}

figure:hover figcaption {
    transform: translateX(100px);
}

figure:hover img {
    transform: scale(1.2);
}
