main {
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;
    background: var(--bg-main);
}

.title-text {
    text-align: center;
}

.download__title {
    margin-bottom: 6.5rem;
}

.download {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    padding: 2rem;
    margin-inline: 2rem;
    background: var(--bg-content);
    box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.download-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

/* V1 */
.download-cards > .main__card:nth-child(1) > h2::before {
        background-image: url('../images/black_pawn.jpg');
    background-position-y: -23rem;
}

/* V2 */
.download-cards > .main__card:nth-child(2) > h2::before {
    background-image: url('../images/black_knight1.jpg');
    background-position-y: -17rem;
}

/* V3 */
.download-cards > .main__card:nth-child(3) > h2::before {
    background-image: url('../images/black_king.jpg');
    background-position-y: -1rem;
}

.card__title {
    min-height: 10rem;
}

.card__title::before {
    min-height: 10rem;
    filter: blur(2px);
}

.card__text {
    min-height: 6rem;
}

.figures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2rem;
}

.medium-text {
    text-align: center;
}

@media (max-width: 768px) {
    .download {
        margin-inline: 0;
        padding: 1rem;
    }

    .title-text {
        margin-top: 2rem;
    }
}
