main {
    background: var(--bg-main);

    display: grid;
    place-items: center;
}

.timeline {
    min-height: 100vh;
    background: var(--bg-content);

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

    margin-inline: 2rem;
    padding: 2rem;
    max-width: 1024px;
    background: var(--bg-content);
    box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.timeline__container {
    width: clamp(20rem, 100%, 1024px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.timeline__container > * {
    min-height: 28rem;
}

.timeline__unit {
    display: flex;
    flex-direction: column;
}

.unit__title {
    min-height: 10%;
    text-align: center;
    text-decoration: none;
}

.unit__content {
    min-height: 90%;
    padding: 1.5rem;
}

.unit__content,
.unit__date {
    font-size: 1.25rem;
}

.unit__date {
    padding: 1.25rem;
}

.left .unit__date {
    text-align: right;
}

.unit__divider {
    width: 100%;
    min-height: 2px;
    background: var(--clr-timeline);
    position: relative;
}

.left {
    position: relative;
    border-right: 2px solid var(--clr-timeline);
}

.right {
    position: relative;
    border-left: 2px solid var(--clr-timeline);
}

/* Using a pseudo element to create a circle */
/* Basically it's an empty square element with sides 1.2rem, and using border-radius we make it a circle  */
.unit__divider::after {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background: var(--clr-timeline);
    border-radius: 50%;
    position: absolute;
}

.left .unit__divider::after {
    right: -0.75rem;
    bottom: -0.5rem;
}

.right .unit__divider::after {
    left: -0.75rem;
    bottom: -0.5rem;
}

.unit__content > img {
    margin-top: 2rem;
    object-fit: contain;
    max-height: 12rem;
    width: 100%;
}

/* Responsivity */
@media screen and (max-width: 768px) {
    .timeline {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    h1 {
        margin-top: 2rem;
    }

    .unit__date {
        padding-top: 2rem;
    }

    .timeline__container {
        width: 90%;
    }

    .unit__content {
        font-size: 0.9rem;
    }
}