:root {
    --bg-main: #131313;
    --bg-nav: #0c0c0c;
    --font-main: 'Roboto', sans-serif;
    --font-size-l: 4rem;
    --font-size-m: 2rem;
    --font-size-s: 1.75rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    color: white;
    scroll-behavior: smooth;
}

/* Nav styling */
nav {
    position: sticky;
    top: 0;
}

.nav__links {
    display: flex;
    justify-content: right;
    align-items: center;

    min-height: 10vh;
    gap: 2rem;
    padding-right: 4rem;

    background: var(--bg-nav);
    list-style: none;

    transition: 0.25s linear;
}

.nav-opaque {
    background: var(--bg-nav);
}

.nav-transparent {
    background: transparent;
}

.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Main body styling */
body {
    background-image: url('../images/home.jpg');
}

.home {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-text {
    font-size: var(--font-size-l);
}

.medium-text {
    font-size: var(--font-size-m);
}

.small-text {
    font-size: var(--font-size-s);
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-bottom: 2rem;
}

.download-redirect {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    outline: 2px solid white;
    font-size: var(--font-size-s);
    border-radius: 2rem;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.25);
    
    transition: 0.3s;
}

.download-redirect:hover {
    background: white;
    color: var(--bg-main);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: var(--bg-main);
}

.about__title {
    margin-top: 2rem;
}

.about__text {
    width: 60%;
    margin: 2rem;
}

/* Footer styling */
footer {
    min-height: 10vh;
    background: var(--bg-nav);
}

.footer__list {
    display: flex;
    justify-content: center;
    flex-direction: column;

    list-style: none;
    padding: 2rem;
}