/* Main body styling */
body {
    background-image: url('../images/home.jpg');
}

.home {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-text {
    font-size: var(--font-size-l);
}

.medium-text {
    font-size: var(--font-size-m);
}

.small-text {
    font-size: var(--font-size-s);
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-bottom: 2rem;
}

.download-redirect {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    outline: 2px solid white;
    font-size: var(--font-size-s);
    border-radius: 2rem;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.25);
    
    transition: 0.3s;
}

.download-redirect:hover {
    background: white;
    color: var(--bg-main);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: var(--bg-main);
}

.about__title {
    margin-top: 2rem;
}

.about__text {
    width: 60%;
    margin: 2rem;
}
