:root {
    --bg-main: rgb(20, 20, 20);
    --bg-content: rgb(29, 29, 29);
    --bg-nav: rgb(8, 8, 8);
    
    --font-main: 'Roboto', sans-serif;
    --font-size-l: clamp(2rem, 10vw, 4rem);
    --font-size-m: 2rem;
    --font-size-s: 1.75rem;

    --clr-links: rgba(226, 226, 226, 0.842);
    --clr-timeline: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    color: white;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5rem;
}

.colored-link {
    color: var(--clr-links);
}

.title-text {
    font-size: var(--font-size-l);
}

.medium-text {
    font-size: var(--font-size-m);
}

.title-text,
.medium-text,
.small-text {
    line-height: 3rem;
}

.small-text {
    font-size: var(--font-size-s);
}

/* Nav */
nav {
    position: sticky;
    top: 0;

    z-index: 100;
}

.nav__links {
    display: flex;
    justify-content: right;
    align-items: center;

    min-height: 10vh;
    gap: 2rem;

    padding-right: 4rem;
    background: var(--bg-nav);
    list-style: none;

    transition: 0.15s ease-out;
}

.nav-transparent {
    background: transparent;
}

.nav-opaque {
    backdrop-filter: blur(0.75rem);
    background: rgba(43, 43, 43, 0.25);
}

.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    min-height: 10vh;
    background: var(--bg-nav);
}

.footer__list {
    display: flex;
    justify-content: center;
    flex-direction: column;

    list-style: none;
    padding: 2rem;
    line-height: 2rem;
}

@media screen and (max-width: 768px) {
    .title-text,
    .medium-text,
    .small-text {
        line-height: 2rem;
    }

    .title-text {
        font-size: clamp(2rem, 10vw, 4rem);
    }

    .medium-text {
        font-size: clamp(1.5rem, 5vw, 2rem);
    }

    .small-text {
        font-size: clamp(1rem, 3vw, 1.5rem);
    }
}
