:root {
    --bg-main: #131313;
    --bg-nav: rgb(12, 12, 12);
    --font-main: 'Roboto', sans-serif;
    --font-size-l: 4rem;
    --font-size-m: 2rem;
    --font-size-s: 1.75rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    color: white;
    scroll-behavior: smooth;
}
